@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap");

@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

body {
  background: $neutral-200;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;

  min-width: 896px;
  max-width: 896px;

  gap: 30px;
  margin: 122px auto;
}

.accordion-card {
  min-width: 100%;

  display: block;
  margin: 0 auto;
  padding: 40px 38px;
  background: $neutral-100;
  border-radius: 14px;
  box-shadow: $box-shadow;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    color: $neutral-800;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    color: $primary-color;
    background: $neutral-100;
    box-shadow: $icon-shadow;
  }

  .description {
    margin-top: 18px;
    width: 715px;
    text-align: left;
    color: $neutral-600;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.active {
  border: 2px solid $primary-color;
  box-shadow: $box-shadow-active;

  .icon {
    color: $neutral-100;
    background: $primary-color;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    min-width: 320px;
    max-width: 90%;
  }

  .accordion-card {
    h4 {
      font-size: 14px;
    }

    .icon {
      width: 35px;
      height: 35px;
      font-size: 16px;
    }

    .description {
      font-size: 12px;
      width: 90%;
    }
  }
}

@media only screen and (max-width: 650px) {
  .accordion-card {
    h4 {
      font-size: 12px;
    }

    .icon {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }

    .description {
      font-size: 10px;
    }
  }
}
