$primary-color: #4a3aff;
$secondary-color: #f3f1ff;
$neutral-800: #170f49;
$neutral-700: #514f6e;
$neutral-600: #6f6c90;
$neutral-500: #a0a3bd;
$neutral-400: #d9dbe9;
$neutral-300: #eff0f6;
$neutral-200: #f7f7fb;
$neutral-100: #fff;

$box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
$box-shadow-active: 0px 6px 16px 0px rgba(74, 58, 255, 0.19);
$icon-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
